.about-page {
    text-align: center;
    font-size: 16px;
    background-color: #E5E5E5;
    font-family: 'Nunito', sans-serif;
}

.garry {
    border-radius: 50%;
    height: 220px;
    width: 220px;
    object-fit: cover;
    object-position: 50% 0%;
}

.diagram {
    width: 100%;
    margin: 40px 0;
}

.about-page section {
    padding: 40px 0;
    display: flex;
    justify-content: center;
}

.about-titles {
    font-weight: 700;
    font-size: 34px;
}

.about-description {
    padding: 0% 10%;
}

.our-mission {
    padding: 0 0 60px 0;
    margin-bottom: 40px;
}

.about-page p {
    text-align: left;
    font-family: 'Lora', serif;
}


.about-page h2 {
    color: #2d758c;
    font-weight: 800;
    font-size: 34px;
    margin-bottom: 30px;
}

section.carousel {
    background-color: #2d758c;
    color: white;
}

.carousel {
    padding: 40px 0;
}

.carousel i {
    font-size: 85px;
    margin-bottom: 20px;
}

.about-page .carousel h4 {
    font-size: 1.4rem;
}

.carousel .slide {
    min-height: 280px;
}

.carousel .carousel-inner {
    padding-top: 20px;
}

.carousel .row {
    padding: 0px 15%;
}

.carousel .carousel-indicators button {
    margin: 0px 20px;
    background-color: #EFF0F0;
    border-radius: 50%;
    border: none;
    width: 15px !important;
    height: 15px !important;
    opacity: 1;
}

.carousel-indicators button.active {
    background-color: #174950;
}

.carousel .carousel.slide .carousel-control-prev {
    opacity: 1;
}

.carousel .carousel.slide .carousel-control-next {
    opacity: 1;
}

.header-border-about {
    background-color: #d0b285;
    height: 420px;
    margin-bottom: 50px;
    clip-path: polygon(
        0% 0%,
        /* top left */ 0% 0%,
        /* top left */ 100% 0%,
        /* top right */ 100% 0%,
        /* top right */ 100% 75%,
        /* bottom right */ 50% 100%,
        /* bottom right */ 50% 100%,
        /* bottom left */ 0 75% /* bottom left */
    );
}

.header-about {
    position: relative;
    text-align: center;
    color: white;
    font-size: 22px;
    height: 300px;
}

.header-about > img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    clip-path: polygon(
        0% 0%,
        /* top left */ 0% 0%,
        /* top left */ 100% 0%,
        /* top right */ 100% 0%,
        /* top right */ 100% 75%,
        /* bottom right */ 50% 100%,
        /* bottom right */ 50% 100%,
        /* bottom left */ 0 75% /* bottom left */
    );
}

.header-title-about {
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 50px;
}

.underline-about {
    width: 300px;
    height: 7px;
    background-color: #d0b285;
    top: 75%;
    border-radius: 10px;
}

@media screen and (max-width: 521px) {
    .underline-about {
        margin-top: 25px;
    }
}
