.about-page {
    text-align: center;
    font-size: 16px;
    background-color: #E5E5E5;
    font-family: 'Nunito', sans-serif;
}

section.organization {
    padding: 40px 0;
}

.our-mission {
    padding: 0 0 60px 0;
}

.our-mission p {
    text-align: left;
    font-family: 'Lora', serif;
}

.our-mission h1 {
    margin-bottom: 40px;
    font-weight: 600;
}

section.carousel {
    background-color: #2d758c;
    color: white;
}

.carousel {
    padding: 40px 0;
}

.carousel i {
    font-size: 24px;
}

.carousel p {
    font-size: 0.8rem;
    font-family: 'Lora', serif;
}

.carousel .slide {
    min-height: 300px;
}

.carousel .row {
    padding: 0px 15%;
}

.carousel-indicators button {
    margin: 0 20px;
    background-color: #EFF0F0;
    border-radius: 50%;
    border: none;
    width: 8px !important;
    height: 8px !important;
}

.carousel-indicators button.active {
    background-color: #174950;
}

.header-border {
    background-color: #d0b285;
    height: 420px;
    margin-bottom: 50px;
    clip-path: polygon(
        0% 0%,
        /* top left */ 0% 0%,
        /* top left */ 100% 0%,
        /* top right */ 100% 0%,
        /* top right */ 100% 75%,
        /* bottom right */ 50% 100%,
        /* bottom right */ 50% 100%,
        /* bottom left */ 0 75% /* bottom left */
    );
}

.header {
    position: relative;
    text-align: center;
    color: white;
    font-size: 22px;
    height: 300px;
}

.header > img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    clip-path: polygon(
        0% 0%,
        /* top left */ 0% 0%,
        /* top left */ 100% 0%,
        /* top right */ 100% 0%,
        /* top right */ 100% 75%,
        /* bottom right */ 50% 100%,
        /* bottom right */ 50% 100%,
        /* bottom left */ 0 75% /* bottom left */
    );
}

.header-title {
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
}

.underline {
    width: 220px;
    height: 7px;
    background-color: #d0b285;
    top: 75%;
    border-radius: 10px;
}
