.header-border {
    background-color: #F9AC3D;
    height: 420px;
    margin-bottom: 50px;
    clip-path: 
        polygon(
            0% 0%,     /* top left */
            0% 0%,     /* top left */
            100% 0%,    /* top right */
            100% 0%,   /* top right */
            100% 75%,  /* bottom right */
            50% 100%,  /* bottom right */
            50% 100%,   /* bottom left */
            0 75%      /* bottom left */
        );
}

.header {
    position: relative;
    align-items:center;
    color: white;
    height: 300px;
}

.header > img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    clip-path: 
        polygon(
            0% 0%,     /* top left */
            0% 0%,     /* top left */
            100% 0%,    /* top right */
            100% 0%,   /* top right */
            100% 75%,  /* bottom right */
            50% 100%,  /* bottom right */
            50% 100%,   /* bottom left */
            0 75%      /* bottom left */
        );
}

.header-title {
    position: absolute;
    width: 350px;
}

.donate-underline {
    height: 7px;
    background-color: #F9AC3D;
    border-radius: 10px;
    margin-top: 20px;
}

.donation-form {
    background-color: #FCE1BA;
    padding: 3.5vw 5vw 3.5vw 5vw;
    margin: 0% 18% 15% 18%;
    text-align: left;
    color: #174950;
    border-radius: 5px;
    justify-content: space-between;
    box-shadow: 0px 4px 5px rgba(0,0,0,.2);
}

.form-labels{
    padding-top: 10px;
}

.form-fields{
    box-shadow: 0px 6px 5px rgba(0,0,0,.2);
    height: 60px;
}

.donate-button {  
    background-color: #174950;
    border-color: #174950;
    margin-top: 3vw;
    margin-left: 38.5%;
    width: 13vw;
    height: 4.5vw;
    font-size: 1.5vw;
  }

@media only screen and (max-width: 800px) {
    .header-title {
        width: 225px;
    }

    .donation-form {
        margin: 0% 5% 15% 5%;
    }

    .donate-button {
        margin-top: 5vw;
        width: 17vw;
        height: 8vw;
        font-size: 2.75vw;
    }
}

@media only screen and (max-width: 300px) {
    .donate-button {
        width: 23vw;
        height: 14vw;
        font-size: 4vw;
    }
}