.footer-container {
    background: rgba(239, 240, 240, 0.84);
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #174950;
    font-family: 'Nunito', sans-serif;
}

.logo-col {
    margin-left: 25%;
    margin-right: 13%;
    max-width: 45%;
}

.logo-col img {
    width: 200px;
    padding-bottom: 5px;
}

.footer-container button {
    background-color: #174950;
    color: white;
    width: 160px;
    height: 40px;
    margin-top: 15px;
    border-radius: 8px;
    font-size: 20px;
    border: none;
    padding-top: 3px;
    margin-left: 0px;
    float: left;
}

.white-bar {
    background-color: white;
    width: 10px;
    height: 130px;
    margin: 0px 10px;
    border-radius: 8px;
}

.links-col {
    color: #174950;
    margin-right: 7%;
}

.links-col p {
    text-align: left;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    font-weight: 700;
}

.links-col a {
    text-transform: uppercase;
    text-decoration: none;
    color: #174950;
}

.icon-col {
    padding-right: 15%;
    justify-content: left;
}

.icons {
    filter: invert(20%) sepia(48%) saturate(658%) hue-rotate(139deg) brightness(95%) contrast(89%);
    width: 40px;
}

@media only screen and (max-width: 900px) {
    .logo-col {
        padding-left: 15%;
        margin-right: 12%;
    }
}

@media only screen and (max-width: 750px) {
    .icon-col {
        padding-right: 5%;
    }
}
