.board-members {
    text-align: center;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    background-color: #E5E5E5;
    margin-bottom: -20px;
}

.members-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}

.about-team-header-border {
    background-color: #CF4917;
    height: 575px;
    margin-bottom: 50px;
    clip-path: 
        polygon(
            0% 0%,     /* top left */
            0% 0%,     /* top left */
            100% 0%,    /* top right */
            100% 0%,   /* top right */
            100% 75%,  /* bottom right */
            50% 100%,  /* bottom right */
            50% 100%,   /* bottom left */
            0 75%      /* bottom left */
        );
}

.header {
    position: relative;
    text-align: center;
    color: white;
    font-size: 22px;
    height: 450px;
}

.header > img {
    height: 550px;
    width: 100%;
    object-fit: cover;
    clip-path: 
        polygon(
            0% 0%,     /* top left */
            0% 0%,     /* top left */
            100% 0%,    /* top right */
            100% 0%,   /* top right */
            100% 75%,  /* bottom right */
            50% 100%,  /* bottom right */
            50% 100%,   /* bottom left */
            0 75%      /* bottom left */
        );
}

.about-team-header-title {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: 700;
}

.about-team-underline {
    width: 350px;
    height: 7px;
    background-color: #CF4917;
    top: 72%;
    border-radius: 10px;
}

@media screen and (max-width: 1432px) {
    .about-team-underline {
        margin-top: 20px;
    }
}

@media screen and (max-width: 911px) {
    .about-team-underline {
        margin-top: 45px;
    }
}