.shadow {
    background-color: #CF4917;
    border-radius: 50%;
    height: 220px;
    width: 220px;
    margin: 10px;
    position: relative;
}

.learn-more {
    text-decoration: underline;
    color: white;
    font-size: 18px;
    margin: 0;
    position: absolute;
    top: 50%;
    width: inherit;
    height: inherit;
    line-height: 220px;
    border-radius: 50%;
    transform: translate(0%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: all .4s ease-in-out;
    background-color: rgba(207, 73, 23, 0.4);
}

.shadow:hover .learn-more{
    visibility: visible;
    opacity: 1;
    cursor: pointer;
}

.headshot {
    border-radius: 50%;
    height: 220px;
    width: 220px;
    object-fit: cover;
    object-position: 50% 0%;
    opacity: 1;
    transition: all .4s ease-in-out;
}

.headshot:hover {
    opacity: 0.6;
}

.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 50px;
}

.popup-headshot {
    margin-top: 40px;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
    object-position: 50% 0%;
}

figcaption {
    font-size: 20px;
}

.close {
    color: #CF4917;
    font-size: 70px;
    position: absolute;
    right: 30px;
    top: 0;
}

.underline-popup {
    width: 200px;
    height: 8px;
    background-color: #CF4917;
    top: 75%;
    border-radius: 10px;
}