.main {
  font-family: 'Nunito', sans-serif;
}

.imageDiv {
  position: relative;
  height: 500px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
  display: flex;
}

.welcometext {
  margin-bottom: 10px;
  padding: 10px;
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  color:#174950;
}

.welcometext > p {
  margin-bottom: 0;
}

.form {
  background-color: #758C33;
  padding: 50px 75px 50px 75px;
  margin: 0% 18% 3% 18%;
  text-align: left;
  color: white;
  border-radius: 5px;
  justify-content: space-between;
  box-shadow: 0px 4px 5px rgba(0,0,0,.2);
}

.recap {
  display: flex;
  justify-content: center;
}

.recapBtn {
  padding: 25px 0px;
}

.fields {
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.2);
}

.formLabels {
  padding-top: 10px;
  font-weight: 60000;
}

.message {
  padding: 20px;
  display: flex;
}

.submitContainer {
  display: flex;
  justify-content: center;
}

.button {  
  background-color: #D0B285;
  border: 3px solid #D0B285;
  width: 184px;
  height: 44px;
  font-size: 24px;
  padding-bottom: 40px;
  border-radius: 5px;
}

.button:hover{
  background-color: #2D758C;
  border-color: #2D758C;
}

.headerBorder {
  background-color: #758C33;
  height: 420px;
  margin-bottom: 50px;
  clip-path: 
      polygon(
          0% 0%,     /* top left */
          0% 0%,     /* top left */
          100% 0%,    /* top right */
          100% 0%,   /* top right */
          100% 75%,  /* bottom right */
          50% 100%,  /* bottom right */
          50% 100%,   /* bottom left */
          0 75%      /* bottom left */
      );
}


.contactHeader {
  position: relative;
  text-align: center;
  color: white;
  font-size: 22px;
  height: 300px;
}

.contactHeader > img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  clip-path: polygon(
    0% 0%,
    /* top left */ 0% 0%,
    /* top left */ 100% 0%,
    /* top right */ 100% 0%,
    /* top right */ 100% 75%,
    /* bottom right */ 50% 100%,
    /* bottom right */ 50% 100%,
    /* bottom left */ 0 75% /* bottom left */
  );
}

.headerTitle {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-weight: 700;
}

.contactUnderline {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 7px;
  background-color: #758c33;
  top: 75%;
  border-radius: 10px;
}

.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 693px) {
  .contactUnderline {
    margin-top: 25px;
  }
}

@media screen and (max-width: 900px) and (min-width: 693px){
  .contactUnderline {
      margin-top: 25px;
  }
}

@media screen and (max-width: 850px) {
  .recapBtn {
    padding: 18px 0px;
    transform:scale(0.8);
  }
  
  .button {
    transform:scale(0.8);
  }

  .form {
    padding: 40px 65px 40px 65px;
    margin: 0% 10% 3% 10%;
  }

  .welcometext {
    font-size: 24px;
  }
}

@media screen and (max-width: 680px) {
  .recapBtn {
    padding: 10px 0px;
    transform:scale(0.7);
  }
  
  .button {
    transform:scale(0.7);
    margin: -10px 0px;
  }

  .form {
    padding: 30px 50px 30px 50px;
    margin: 0% 8% 3% 8%;
  }
}

@media screen and (max-width: 400px) {
  .recapBtn {
    padding: 5px 0px;
    transform:scale(0.6);
  }
  
  .button {
    transform:scale(0.6);
    margin: -10px 0px;
  }

  .form {
    padding: 20px 40px 20px 40px;
    margin: 0% 5% 3% 5%;
  }
}
