.project {
    margin: 0px 40px;
    width: 290px;
    height: 410px;
    cursor: pointer;
}

.project-img {
    width: 260px;
    height: 260px;
    box-shadow: -10px -10px #D0B285;
    margin: 20px 0px;
    vertical-align: top;
    object-fit: cover;
}

figcaption.project-name {
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    vertical-align: bottom;
}

.project-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 50px;
}

.project-popup p {
    font-family: 'Lora', serif;
    font-size: 18px;
    color: #333333;
}

.project-name-popup {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 34px;
    text-align: center;
    width: 85%;
    margin-top: 25px;
}

.project-close {
    color: #2D758C;
    font-size: 60px;
    position: absolute;
    right: 10px;
    top: -10px;
    border: none;
    outline: none;
    background: transparent;
}

.project-close:hover{
    color: #2D758C;
}

.project-underline-popup {
    width: 200px;
    height: 7px;
    background-color: #2D758C;
    top: 75%;
    border-radius: 10px;
    margin: 10px 0px 18px 0px;
}

@media screen and (max-width: 521px) {
    .project-close {
        top: 0px;
        right: -15px;
        font-size: 40px;
    }

    .project-name-popup {
        font-size: 26px;
    }

    .project-popup {
        padding: 10px 30px;
    }

    .project-popup > p {
        font-size: 14px;
    }
}