.project-page {
    font-family: 'Nunito', sans-serif;
    background-color: #E5E5E5;
    margin-bottom: -20px;
}

.project-header-border {
    background-color: #D0B285;
    height: 420px;
    margin-bottom: 50px;
    clip-path: 
        polygon(
            0% 0%,     /* top left */
            0% 0%,     /* top left */
            100% 0%,    /* top right */
            100% 0%,   /* top right */
            100% 75%,  /* bottom right */
            50% 100%,  /* bottom right */
            50% 100%,   /* bottom left */
            0 75%      /* bottom left */
        );
}

.project-header {
    position: relative;
    text-align: center;
    color: white;
    font-size: 22px;
    height: 300px;
}

.project-header > img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    clip-path: 
        polygon(
            0% 0%,     /* top left */
            0% 0%,     /* top left */
            100% 0%,    /* top right */
            100% 0%,   /* top right */
            100% 75%,  /* bottom right */
            50% 100%,  /* bottom right */
            50% 100%,   /* bottom left */
            0 75%      /* bottom left */
        );
}

.project-header-title {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: 700;
}

.project-underline {
    width: 300px;
    height: 7px;
    background-color: #D0B285;
    top: 75%;
    border-radius: 10px;
}

.projects {
    padding: 20px;
    margin: 20px 0px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.project {
    margin: 0px 40px;
    width: 290px;
    height: 410px;
}

.project-img {
    width: 260px;
    height: 260px;
    box-shadow: -10px -10px #D0B285;
    margin: 20px 0px;
    vertical-align: top;
}

figcaption.project-name {
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    vertical-align: bottom;
}

.projects .carousel.slide .carousel-indicators button {
    background-color: #2D758C;
    border: none;
    width: 15px !important;
    height: 15px !important;
    border-radius: 50%;
    transition: all .3s ease-in-out; 
    margin: 10px 20px;
}

.projects .carousel.slide .carousel-indicators button:hover {
    transform: scale(1.15); 
}

.projects .carousel.slide .carousel-indicators .active {
    background-color: #F9AC3D;
}

.projects .carousel.slide .carousel-control-prev {
    opacity: 1;
}

.projects .carousel.slide .carousel-control-next {
    opacity: 1;
}

.carousel-title {
    font-weight: 700;
    margin-bottom: -30px;
    color: #174950;
    font-size: 34px;
}