nav.navbar {
  background-color: #eff0f0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
}

.menu-toggle {
  display: none;
}

.nav-brand {
  display: flex;
  align-items: center;
  text-decoration: none !important;
}

.nav-brand img {
  height: 40px;
}

.nav-brand div {
  font-weight: 600;
  font-size: 26px;
  color: #174950;
  margin-left: 10px;
}

.nav-link {
  color: #174950 !important;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #00161D !important;
  transition: all ease 0.1s;
}

.fas {
  color: #174950;
  font-size: 20px;
}

.fas:hover {
  color: #00161D;
}

@media screen and (max-width: 991px) {
  .menu-toggle {
    display: block;
  }
}
