nav.navbar {
  background-color: rgba(239, 240, 240, 0.9);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  font-family: 'Nunito', sans-serif;
}

.menu-toggle {
  display: none;
}

.nav-brand {
  display: flex;
  align-items: center;
  text-decoration: none !important;
}

.nav-brand img {
  height: 40px;
}

.nav-brand div {
  font-weight: 700;
  font-size: 32px;
  color: #174950;
  margin-left: 10px;
}

#basic-navbar-nav .nav-link {
  color: #174950;
  font-weight: 600;
  font-size: 22px;
  text-transform: uppercase;
  margin-left: 15px;
  transition: ease .1s;
}

#basic-navbar-nav .nav-link:hover {
  color: #00161D;
}

nav.navbar .fas {
  color: #174950;
  font-size: 20px;
}

nav.navbar .fas:hover {
  color: #00161D;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .menu-toggle {
    display: block;
  }
}
