.news-page {
    font-family: 'Nunito', sans-serif;
    margin-bottom: -40px;
}

.news-header-border {
    background-color: #2D758C;
    height: 575px;
    margin-bottom: 50px;
    clip-path: 
        polygon(
            0% 0%,     /* top left */
            0% 0%,     /* top left */
            100% 0%,    /* top right */
            100% 0%,   /* top right */
            100% 75%,  /* bottom right */
            50% 100%,  /* bottom right */
            50% 100%,   /* bottom left */
            0 75%      /* bottom left */
        );
}

.news-header {
    position: relative;
    text-align: center;
    color: white;
    font-size: 22px;
    height: 450px;
}

.news-header > img {
    height: 550px;
    width: 100%;
    object-fit: cover;
    clip-path: 
        polygon(
            0% 0%,     /* top left */
            0% 0%,     /* top left */
            100% 0%,    /* top right */
            100% 0%,   /* top right */
            100% 75%,  /* bottom right */
            50% 100%,  /* bottom right */
            50% 100%,   /* bottom left */
            0 75%      /* bottom left */
        );
}

.news-header-title {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: 700;
}

.news-underline {
    width: 300px;
    height: 7px;
    background-color: #2D758C;
    top: 72%;
    border-radius: 10px;
}

.news {
    padding: 20px;
    margin: 40px 0px;
}

.news-img {
    width: 260px;
    height: 260px;
    box-shadow: -10px -10px #2D758C;
    margin: 20px 0px;
    vertical-align: top;
    object-fit: cover;
}

.news-page-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.news-item {
    margin: 0px 40px;
    width: 290px;
    height: 410px;
    color: black;
}

.article {
    text-decoration: none;
}

.article:hover {
    text-decoration: none;
}

figcaption.news-name {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    vertical-align: bottom;
}

figcaption.month {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
    font-family: 'Lora', serif;
}

.news .carousel.slide .carousel-indicators button {
    background-color: #2D758C;
    border: none;
    width: 15px !important;
    height: 15px !important;
    border-radius: 50%;
    transition: all .3s ease-in-out; 
    margin: 10px 20px;
    opacity: 1;
}

.news .carousel.slide .carousel-indicators button:hover {
    transform: scale(1.15); 
}

.news .carousel.slide .carousel-indicators .active {
    background-color: #F9AC3D;
}

.news .carousel.slide .carousel-control-prev {
    color: #2D758C;
    opacity: 1;
}

.news .carousel.slide .carousel-control-prev:hover {
    color: #D0B285;
}

.news .carousel.slide .carousel-control-next {
    color: #2D758C;
    opacity: 1;
}

.news .carousel.slide .carousel-control-next:hover {
    color: #D0B285;
}

.carousel-title {
    font-weight: 700;
    margin-bottom: -30px;
    color: #174950;
    font-size: 34px;
}

.other {
    background-color: #C2CF9B;
}

@media screen and (max-width: 521px) {
    .news-header-border {
        clip-path:
            polygon(
                0% 0%,     /* top left */
                0% 0%,     /* top left */
                100% 0%,    /* top right */
                100% 0%,   /* top right */
                100% 85%,  /* bottom right */
                50% 100%,  /* bottom right */
                50% 100%,   /* bottom left */
                0 85%      /* bottom left */
        );
    }

    .news-header > img {
        clip-path: 
            polygon(
                0% 0%,     /* top left */
                0% 0%,     /* top left */
                100% 0%,    /* top right */
                100% 0%,   /* top right */
                100% 85%,  /* bottom right */
                50% 100%,  /* bottom right */
                50% 100%,   /* bottom left */
                0 85%      /* bottom left */
            );
    }
}